<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>إعادة ضبط كلمة المرور</title>
</head>
<body>
<h1 class="text-danger">خطأ</h1>
<h2 class="text-danger">حدث خطأ أثناء معالجة طلبك. الرجاء معاودة المحاولة في وقت لاحق.</h2>

@if (ViewData["WebSiteURL"] != null) {
    <a href="@ViewData["WebSiteURL"]">العودة إلى الموقع</a>
}
</body>
</html>