<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>إعادة ضبط كلمة المرور</title>
</head>
<body>
<h1>إعادة ضبط كلمة المرور</h1>
<p>
    تمت عملية إعادة ضبط كلمة المرور.
</p>
@if (ViewData["WebSiteURL"] != null) {
    <a href="@ViewData["WebSiteURL"]">تسجيل الدخول</a>
}
</body>
</html>