@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TeamWork.DTO.Security.UserResetPassword
<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>إعادة ضبط كلمة المرور</title>
</head>
<body>
    <h1>إعادة ضبط كلمة المرور</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-controller="authentication" asp-action="CompleteResetPassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label" style="display: block;min-width: 250px;">كلمة المرور</label>
                    <input type="password" id="Password" name="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label" style="display: block;min-width: 250px;">تأكيد كلمة المرور</label>
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Email" id="Email" name="Email" class="form-control" />
                <input type="hidden" asp-for="Token" id="Token" name="Token" class="form-control" />
                <div class="form-group">
                    <input type="submit" value="إرسال" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>