<mat-card>
    <mat-card-content>
        <div fxLayout="column">
            <div class="p-10" fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
                <mat-form-field>
                    <mat-select
                        placeholder="{{ 'Mufti' | translate }}"
                        [(ngModel)]="selectedmufti"
                    >
                        <mat-option
                            *ngFor="let mufti of muftiList"
                            [value]="mufti.userId"
                        >
                            {{ mufti.fullName | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select
                        placeholder="{{ 'Departments' | translate }}"
                        [(ngModel)]="selecteddepartment"
                        (openedChange)="myInput.focus()"
                    >
                        <mat-form-field style="width: 100%">
                            <input
                                class="myInput"
                                #myInput
                                matInput
                                focused="'true'"
                                (keyup)="searchNodeName($event.target.value)"
                                autocomplete="off"
                                placeholder="{{ 'Search' | translate }}"
                            />
                        </mat-form-field>
                        <mat-option
                            *ngFor="let fatawaDepartmen; of"
                            [value]="fatawaDepartmen.id"
                        >
                            {{ fatawaDepartmen.nodeName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select
                        placeholder="{{ 'Mathhabs' | translate }}"
                        [(ngModel)]="selectedmatthab"
                    >
                        <mat-option
                            *ngFor="let mathhab of mathhabs"
                            [value]="mathhab.id"
                        >
                            {{ mathhab.name | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select
                        placeholder="{{ 'FatawaType' | translate }}"
                        [(ngModel)]="selectedtype"
                    >
                        <mat-option
                            *ngFor="let fatawaType of fatawaTypes"
                            [value]="fatawaType.id"
                        >
                            {{ fatawaType.name | translate }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button
                    mat-raised-button
                    type="button"
                    color="primary"
                    class="btn btn-primary"
                    (click)="srchFatawa()"
                >
                    {{ 'Search' | translate }}
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-content>
        <app-data-grid-view
            [isShowExportButton]="true"
            [gridDataSource]="dataSource"
            [displayedColumns]="[
                    'id',
                    'fatwaId',
                    'name',
                ]"
            [isShowMainActionControls]="false"
            [lengthData]="length"
            [PaginatorIndex]="paginationIndex"
        >
        </app-data-grid-view>
    </mat-card-content>
</mat-card>
