.mat-toolbar {
    background: #34374e;
}

.head-logo {
    width: auto;
    height: 57px;
    border-radius: 0;
}

.footerImage {
    width: 100%;
    height: 100px;
    background-color: #eeeee9;
}

.foot-logo {
    width: auto;
    height: 60px;
    border-radius: 0;
}

.page-wrapper {
    background-color: #eeeee9;
    height: auto;

    .page-content {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.companyName {
    font-size: 150%;
}

div {
    overflow: inherit;
}

button {
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.footer-distributed {
    background: #34374e;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 30px 60px;

    .footer-left p {
        color: white;
        font-size: 14px;
        margin: 0;

        &.copy-right {
            margin-top: 10px;
        }
    }

    p.footer-links {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        margin: 0 0 10px;
        padding: 0;
        transition: ease 0.25s;

        a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
            transition: ease 0.25s;

            &:before {
                content: '|';
                font-size: 15px;
                left: 0;
                padding-left: 5px;
                color: #fff;
                display: inline-block;
                padding-right: 5px;
                font-weight: normal;
            }
        }
    }
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 600px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        text-align: center;
    }

    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}

.copy-right {
    margin-top: 10px;
}

.flag {
    width: 25px;
    height: 25px;
    border-radius: 75%;
    box-sizing: border-box;
}

.mat-form-field {
    width: 160px;
    padding: 5px;
}

.scrollButton {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    outline: none;
    background-color: #7a7d83;
}
