<mat-card>
    <mat-card-content>
        <app-user-edit-control
            (notify)="addControl($event)"
            [IsshowLanguage]="true"
            (keyup.enter)="applyFilter($event.target.value)"
            SearchPlaceHolder="{{ 'Search' | translate }}"
        >
        </app-user-edit-control>
        <app-data-grid-view
            [gridDataSource]="dataSource"
            [displayedColumns]="['userId', 'fullName', 'email', 'roleName']"
            (onPagination)="onActionRowGrid($event)"
            [lengthData]="length"
            [PaginatorIndex]="paginationIndex"
            (onEditRow)="onActionRowGrid($event)"
            (onDeleteRow)="onActionRowGrid($event)"
        >
        </app-data-grid-view>
    </mat-card-content>
</mat-card>
<!-- (onLanguageChange)="onActionRowGrid($event)" -->
