.submit-btns {
    margin-left: 10px;
    margin-right: 10px;
}

.img-responsive {
    margin: 10px 10px 0px 10px;
    width: 200px;
    height: 200px;
}

.mat-form-field {
    width: 75%;
}

.default-button {
    margin: 0px 10px;
}

.original-fatwa {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 15px !important;
}
