<div class="col-sm-auto col-12 mt-30">
    <div class="fatawi-filter h-100">
        <div class="fatawi-filter-inner h-100 p-3">
            <ul class="">
                <li class="active">
                    <a href="">عرض الجميع</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">العقيدة الإسلامية</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">القرآن الكريم</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">الحديث الشريف</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">السيرة النبوية</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">الدعوة ووسائلها</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">طب وإعلام وقضايا معاصرة</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">فكر وسياسة وفن</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">الفضائل والتراجم</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">الآداب والأخلاق والرقائق</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">فقه المعاملات</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">فقه المواريث</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">فقه الجنايات</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">الحدود والتعزيرات</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
                <li>
                    <a href="">الآداب والأخلاق والرقائق</a>
                    <i class="fa fa-chevron-circle-left text-white-50"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
