<!-- hero slider section start -->
<section class="hero-slider d-flex align-items-center">
    <div class="container">
        <div class="align-items-center align-items-stretch row">
            <div class="col-md-5 g-0">
                <div class="hero-slider-thumb text-center text-lg-end">
                    <img
                        src="assets/img/slider/banner.jpg"
                        class="rounded-start-img"
                        alt="فتوى,N"
                    />
                    <img
                        src="assets/img/shape/bannerz.svg"
                        alt="فتوى"
                        class="zagrafeh d-none d-md-block"
                    />
                </div>
            </div>
            <div class="bg-banner col g-0">
                <div
                    class="d-flex flex-column h-100 hero-slider-content justify-content-center px-5"
                >
                    <h1 class="hero-slider-title">
                        الملائكة المُوكَلة بِكِتابَةِ عَمل الإنسان
                    </h1>
                    <p class="hero-slider-desc">
                        هذه الآية الثلاثون في سورة البقرة، أطولِ سور القرآن على
                        الإطلاق، وموضوع سورة البقرة ومحورها الرئيس؛ الحديث عن
                        الخلافة في الأرض، ولذا نجد أن أول ما تطالعنا عليه السورة
                        ذكرُ أصناف البشر الثلاثة: (المؤمن، والكافر والمنافق)،
                        والخليفة في الأرض واحد من تلك الأصناف، فإما أن يكون
                        الخليفة مؤمنًا بالله،
                    </p>
                    <!-- <div class=""><a class="hero-slider-btn red-bt" href="about.html">طالع المزيد<span
                  class="fa fa-chevron-circle-left ms-4"></span></a><a class="defult-bt hero-slider-btn ms-3"
                href="about.html">طلب فتوى<span class="fa fa-chevron-circle-left ms-4"></span></a></div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero slider section end -->
