<!-- footer section start -->
<footer>
    <div class="footer-widget-area p-5 section-padding--ptb_110">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div
                        class="align-items-center d-flex footer-single-widget mt-40"
                    >
                        <div class="m-0 widget-logo">
                            <a href="index.html">
                                <img
                                    src="assets/img/logo/Logo.svg"
                                    alt="brand logo"
                                />
                            </a>
                        </div>
                        <div class="ms-3 widget-body">
                            <nav class="main-menu">
                                <ul>
                                    <li class="active">
                                        <a href="index.html">الرئيسية</a>
                                    </li>
                                    <li>
                                        <a href="about.html">الفتاوى</a>
                                    </li>
                                    <li><a href="#">استشارات</a></li>
                                    <li>
                                        <a href="about.html">مقالات</a>
                                    </li>
                                    <li>
                                        <a href="about.html">المكتبة</a>
                                    </li>
                                    <li>
                                        <a href="about.html">تواصل معنا</a>
                                    </li>
                                    <li class="focus"></li>
                                    <li class="lang">
                                        <ul class="dropdown">
                                            <li>
                                                <a href="about.html">العربية</a>
                                            </li>
                                            <li>
                                                <a href="about.html">English</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="footer-single-widget mt-40">
                        <ul class="footer-social">
                            <li>
                                <a href="#" class=""
                                    ><i class="fa-brands fa-facebook"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" class=""
                                    ><i class="fa-brands fa-twitter"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" class=""
                                    ><i class="fa-brands fa-linkedin"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" class=""
                                    ><i class="fa-brands fa-instagram"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#" class=""
                                    ><i
                                        class="fa-brands fa-facebook-messenger"
                                    ></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright-text text-center text-md-start">
                        <p>
                            جميع الحقوق محفوظة لدى موقع فتوى 2022 ©<a href="#"
                                ><b>fatwaa.net</b></a
                            >
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="d-flex float-end">
                        <li class="me-3">
                            <a href="#" class="text-black">شروط الاستخدام</a>
                        </li>
                        <li>
                            <a href="#" class="text-black"> سياسة الخصوصية</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
